extends export_layout
block content
  #export
    - var n = 1
    ul.nav.nav-pills
      while n < 5
        - var i = n++
        if defQuarter == i
          li.presentation.active
            a(href="/export/quarter?quarter=#{i}") 
              if i == 1
                font Q1
              else if i == 2
                font Q2
              else if i == 3
                font Q3
              else 
                font Q4
        else
          li.presentation
            a(href="/export/quarter?quarter=#{i}")
              if i == 1
                font Q1
              else if i == 2
                font Q2
              else if i == 3
                font Q3
              else 
                font Q4
    hr
    pre.row
      if list != null
        if defQuarter == 1 
          p.col-md-8 Q1:
        else if defQuarter == 2
          p.col-md-8 Q2:
        else if defQuarter == 3
          p.col-md-8 Q3:
        else 
          p.col-md-8 Q4:
        p.col-md-4
          a(id='hiddenUrl' var-hidden=0) 隐藏url
        br
        each value, key in list
          p.col-md-12 #{key}:
          br
          each item, idx in value
            p.col-md-8 &nbsp;&nbsp;&nbsp;#{idx+1+'.'+item['title']}&nbsp;&nbsp;&nbsp;&nbsp;
            p.col-md-4 完成度：#{item['progress']}%
            br
            if item['url'] != "" || item['url'] != " "
              p.col-md-12.wUrl &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;禅道地址：#{item['url']}
              br
      else 
        没有数据