extends layout
block content
  .container.table-responsive
    p
    .row
      p.col-md-4
      p.col-md-8.text-right
        a(class="btn btn-primary btn-sm" href="/attendance/create") 创建加班记录
    table.table
      tr.success
        td 加班日期
        td 加班时长(h)
        td 使用时长(h)
        td 剩余时长(h)
        td 状态
        td 操作
      if attendanceList != null  
        each item in attendanceList
          tr(id="work_#{item.id}")
            td #{item.overtime} 
            td #{item.hours}
            td #{item.used}
            td #{item.hours - item.used}
            td 
              if item.status == 1
                span 未使用
              else if item.status == 0
                span 已用完
              else if item.status == 2
                span 部分使用
            td
              a(var-id='#{item.id}' var-status='#{item.status}' class="infoBtn") 使用记录 
              span | 
              a 使用调休 
              span | 
              a(var-id="#{item.id}" class="delBtn") 删除
          tr(id="info_#{item.id}" class='well hidden')
            td(colspan="5" class="detail") 
            td 
              a(var-id="#{item.id}" class="hideBtn") 收起