extends page_layout

block content
  div(id="workDesc" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel")
    div(class="modal-dialog" role="document")
      .modal-content 
        .modal-header
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title 任务详情
        .modal-body
          .row
            p.col-md-3.padding-left-60 任务名称:
            p#ml_title.col-md-9
          .row
            p.col-md-3.padding-left-60 所属项目:
            p#ml_project_id.col-md-9
          .row
            p.col-md-3.padding-left-60 项目进度:
            p#ml_progress.col-md-9
          .row
            p.col-md-3.padding-left-60 使用技术:
            p#ml_work_type.col-md-9
          .row
            p.col-md-3.padding-left-60 禅道地址:
            p#ml_url.col-md-9
          .row
            p.col-md-3.padding-left-60 开始时间:
            p#ml_created.col-md-9
          .row
            p.col-md-3.padding-left-60 更新时间:
            p#ml_updated.col-md-9
          .row
            p.col-md-3.padding-left-60 备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注:
            p#ml_backup.col-md-9

          

  .container.table-responsive
    p
    .row
      p.col-md-4
      p.col-md-8.text-right
        a(class="btn btn-primary btn-sm" href="/pages/create") 创建工作任务
        a(class="btn btn-primary btn-sm" href="/export/priDaily") 个人日报
        a(class="btn btn-primary btn-sm" href="/export/priWeekly") 个人周报
        a(class="btn btn-primary btn-sm" href="/export/proDaily") 项目日报
        a(class="btn btn-primary btn-sm" href="/export/proWeekly") 项目周报
        a(class="btn btn-primary btn-sm" href="/export/quarter") 个人季度总结
    table.table
      tr.success
        td 所属项目
        td 任务名称
        td 工作进度
        td 使用技术
        td 开始时间
        td 更新时间
        td 操作
      if list != null  
        each item in list
          tr(id="work_#{item.id}")
            td.project_id #{plist[item.project_id]} 
            td.title #{item.title}
            td.pgs
              .progress
                div(class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="#{item.progress}" aria-valuemin="0" aria-valuemax="100" style="width: #{item.progress}%;") #{item.progress}%
            td.work_type #{workTypeList[item.work_type]}
            td.created #{item.created}
            td.updated #{item.updated.split(' ')[0]}
            td
              a(var-id='#{item.id}' class="infoBtn") 详情 
              span | 
              a(onclick="delWork(#{item.id})") 删除
              input(id="url_#{item.id}" hidden="hidden" value="#{item.url}") 
    hr
    nav
      ul.pager
        li
          a(id="prev" class="paging" var-isLast="#{isLast}" var-cp="#{currentPage}") 上一页
        li.paginginfo &nbsp;当前是第#{currentPage}页, 每页#{pageNum}条&nbsp;
        li
          a(id="next" class="paging" var-isLast="#{isLast}" var-cp="#{currentPage}") 下一页